{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="containter">
        <h2>Change Password</h2>
    </div>
    <form action="/password_change" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="previous_password" placeholder="old password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
        <br><br>
        <p><b>Password must meet following requirements</b></p>
        <ul class="list-group">
            <li class="centered_bullet">Must have at least 8 characters</li>
            <li class="centered_bullet">Must contain at least a number</li>
            <li class="centered_bullet">Must contain at least symbol</li>
            <li class="centered_bullet">Must contain at least an uppercase letter</li>
            <li class="centered_bullet">Must contain at least a lowercase letter</li>
        </ul>
    </form>
{% endblock %}
