{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <div class=mb-4>
        <h1>Get stock quote</h1>
        <p>Type the nomenclature of the stock you need to find in the text box and we will check the current price of the stock</p>
    </div>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="stock symbol eg: NFLX" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
{% endblock %}
